.workplace{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:700;
    position:relative;
    text-align: center;
    padding:10px;
}
.workplace .textBox{
    padding:15px;
    background-color:black;
    color:white;
    border-radius:10px;
}
.translation{
    padding:10px;
    position:absolute;
    top:0;
    right:0;
}
.translation img{
    width:50px;
    height:35px;
    margin:8px;
    cursor:pointer;
}
.menu{
    cursor:pointer;
    border-bottom:1px solid black;
}
.menu:hover{
    color:blue;
    border-bottom:1px solid blue;
}
.workplaceMenu{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center;
    height:100vh;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
.workplaceMenu > ul{
    width:350px;
    height:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    list-style:none;
    overflow-y:scroll;
    border-radius:10px;
    margin:0;
}
.workplaceMenu > ul::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 설정 */
    border-radius: 10px;
}

.workplaceMenu > ul::-webkit-scrollbar-track {
    background: transparent; /* 스크롤바 트랙 배경색 */
    border-radius: 10px;
}

.workplace > ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* 스크롤바 색상 */
    border-radius: 10px;
    border: 2px solid white; /*스크롤바와 내용 사이 여백을 위해 사용 */
}
.workplaceMenu > ul > li{
    display:flex;
    padding:20px;
    border-bottom:1px solid black;
}
.workplaceMenu > ul > li:last-child {
    border-bottom: none;
}
@media (max-width:500px){
    .workplaceMenu > ul{
        width:100%;
    }
}
.workplaceMenu li > img{
    width:140px;
    height:100px;
    margin-right:5px;
    border-radius:10px;
}
.workplaceMenu li > div{
    width:120px;
    height:100px;
    margin-left:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.workplaceSearch{
    margin:10px;
    position:absolute;
    top:0;
    right:0;
    z-index:1;
}
.workplaceSearch button{
    cursor: pointer;
    margin-left:5px;
    font-weight:700;
}