.workplace{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:700;
    position:relative;
    text-align: center;
    padding:10px;
}
.workplace .textBox{
    padding:15px;
    background-color:black;
    color:white;
    border-radius:10px;
}
.translation{
    padding:10px;
    position:absolute;
    top:0;
    right:0;
}
.translation img{
    width:50px;
    height:35px;
    margin:8px;
    cursor:pointer;
}
.menu{
    cursor:pointer;
    border-bottom:1px solid black;
}
.menu:hover{
    color:blue;
    border-bottom:1px solid blue;
}
.workplaceMenu{
    background-color:pink;
    height:100vh;
}
.workplaceMenu > ul{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:700;
}
.workplaceMenu > ul > li{
    font-size:16px;
    margin:8px;
}